<html>
  <head>
    <title>Not supported</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <form class="unsupported-stuff" action="/get/support<%=directlink ? '/now' : ''%>" method="get">
      This page is not supported
      <div class="unsupported-thing">
        <input name="thing" placeholder="thing that is not supported"></input>
        <input type="submit"></input>
      </div>
      <div class="mode-select">
        <input type="radio" name="verb" value="is" checked>singular</input>
        <input type="radio" name="verb" value="are">plural</input>
      </div>
      <div class="reasons">
        Reason:
        <select name="reason">
          <option value="-1">Random</option>
          <%
            if (typeof(prefixes) == 'undefined')
              var prefixes = ["&gt;FAILED TO LOAD PREFIXES&lt;"]
          %>
          <% for (var i = 0; i < prefixes.length; i++) { %>
            <%
              if (typeof prefixes[i] == 'string') {
                var pfix = prefixes[i];
              } else {
                var pfix = prefixes[i].map(e => typeof(e) == 'string' ? e : "")
                pfix = pfix.join(" ");
              }

              if (!/\$custom/.test(pfix))
                pfix += " is not supported."
              pfix = pfix.replace(/\$singular:([^ ]+)/, '$1');
              pfix = pfix.replace(/\$(content)/ig, 'thing');
              pfix = pfix.replace(/\$[^ ]+/g, '');
              if (pfix.length > 22)
                pfix = pfix.substring(0, 22) + '...';
            %>
            <option value="<%= i %>"><%= pfix %></option>
          <% } %>
        </select>
      </div>
      <% if (supporturl) { %>
        <div class="supportlink">
          Support link: <a href="<%= supporturl %>"><%= supporturl %></a>
        </div>
        <div class="supporturl">
          <input id="supporturl" value="<%= supporturl %>" readonly></input>
          <!-- <button onclick="copySupportURL()">copy</button>
          <script type="text/javascript">
            function copySupportURL() {
              document.getElementById("supporturl").select();
              document.execCommand("Copy");
            }
          </script> -->
        </div>
      <% } %>
      <a class="bottomlink upper"
         href="https://github.com/uniquegamer522/not.support">
        GitHub
      </a>
      <% if (!directlink) { %>
        <a class="bottomlink" href="/now">
          Get support now!
        </a>
      <% } else { %>
        <a class="bottomlink" href="/">
          Immediate support (redirect) enabled.
        </a>
      <% } %>
    </form>
  </body>
</html>
