<html>
  <head>
    <title>Not supported</title>
    <link href="/style.css" type="text/css" rel="stylesheet"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="UniQMG">
    <meta name="twitter:title" content="Not supported">
    <meta name="twitter:description" content="This page is not supported">
    <meta name="twitter:image" content="/preview?<%= query %>">
    <meta name="twitter:image:alt" content="<%= plaintext %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (typeof(center) != 'undefined') { %>
      <style>
        body {
          margin: 0;
          overflow: hidden;
        }

        .unsupported-stuff {
          line-height: 100vh;
          margin: 0;
        }
      </style>
    <% } %>
  <head>
  <body>
    <div class="unsupported-stuff">
      <%-  thing  %>
    </div>
  </body>
</html>
