body, #blurplecanvas, .colorPicker .twod, .currentColor {
  filter: hue-rotate(180deg);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.darkblurple .colorPicker .currentColor::before {
  content: 'Dark Orangered';
}
.blurple .colorPicker .currentColor::before {
  content: 'Orangered';
}
