body {
  background-color: #515c91;
  text-align: center;
  font-weight: bolder;
  font-family: monospace;
  color: #EEE;
  font-weight: bolder;
  font-size: 110%;
  text-shadow: 1px 1px 1px black;
}

span.blurplething, span.not, .projectblurple a {
  color: #7289DA !important;
  text-decoration: none;
  font-size: 20px;
}
a { color: white; }

iframe {
  width: 100%;
  /* height: 100vh; */
  overflow-y: visible;
}
