<html>
  <% var month = (new Date()).getMonth() %>
  <% var day = (new Date()).getDate() %>
  <head>
    <title>Blurple is not supported</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" type="text/css" rel="stylesheet"/>
    <link href="/css/blurple.css" type="text/css" rel="stylesheet"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="UniQMG">
    <meta name="twitter:title" content="Not supported">
    <meta name="twitter:description" content="Happy birthday, Discord!">
    <meta name="twitter:image" content="/preview?">
    <meta name="twitter:image:alt" content="Now with all the colors">
  </head>
  <body>
    <% include partials/blurple-december %>

    <div class="unsupported-stuff">
      <div>
        <span class="blurplething">Blurple</span> is
        <span class="not">not supported</span>.
      </div>

      Happy <span class="birthday"><strike>3rd</strike> 4th</span> birthday, <span class="not">Discord!</span><br>
      <%
        var now = new Date();
        var blurple = new Date(now.getYear() + 1900, 4, 13);
        var days = Math.ceil((blurple - now) / (1000 * 60 * 60 * 24));
      %>
      ~ <span id="daysleft" class="blurplething"><%= days %></span> days remain ~ <br>
      <a href="http://discord.gg">
        <img src="/gitignored/Discord-Logo+Wordmark-White.png" width="275">
        </img>
      </a>

      <div class="projectblurple">
        Inspired by
        <a class="projectblurple" href="https://discord.gg/qEmKyCf">
          Project Blurple
        </a>
      </div>
    </div>
    <div class="abouttext">
      <noscript>
        Javascript is required to use the blurplifier.<br>
        To use, allow scripts from <code>blurple.is.not.support</code>.
      </noscript>
      <div>
        This is an enhanced version of <a href="https://blurple.romtypo.com/">ROMTypo's blurplifier</a>
      </div>
      <div>
        To get started, click the 'choose file' button
      </div>
      <div>
        Click canvas to download.
      </div>
      <br>
    </div>

    <iframe id="blurpleframe" src="/blurple/blurple.html" frameborder="0"></iframe>
    <script>
      let iframe = document.getElementById('blurpleframe');
      function resize() {
        if (!iframe.contentWindow.document) return;
        iframe.contentWindow.document.body.style.overflow = 'hidden';
        iframe.height = iframe.contentWindow.document.body.scrollHeight;
      }
      iframe.contentWindow.addEventListener('DOMContentLoaded', resize);
      window.addEventListener('DOMContentLoaded', resize);
      window.addEventListener('resize', resize);
      setInterval(resize, 200);
    </script>
    <pre style="white-space: pre-wrap">
Enhanced Blurplefier Guide

<u>Basic usage:</u>
Click/tap the 'Choose File' button to pick an image to blurplefy
Adjust the threshold sliders to change how much of the image is a shade of blurple
Click the image to download it

-- All the options --

<u>General controls</u>
The three colors can be changed using the color picker or by typing in new
values into the hex field, RGB fields, or HSL fields. The Reset button
restores the sliders and colors to default, the palette buttons change
to a preset color scheme, and the Swap button swaps position of of
the top and bottom colors

<u>Edge Detect</u>
Applies a Sobel filter, sharply increasing the brightness along edges and giving
images an outline. Useful for complex images with poor contrast.

<u>Brightness correction</u>
Finds the minimum and maximum brightnesses in an image and then scales the sliders
to map between them. Use on very dark or very bright images to achieve a more
even effect. Doesn't do much for most screenshots though.

<u>Sqrt color</u>
This just square-roots the brightness, which lowers lows and makes the
image overall brighter.

<u>Remove Transparency</u>
This removes transparency from the image. Useful for gifs that end up having
holes in them, or if you want a whole-color image. Turn this off if you want
to preserve transparency.

<u>Transparent background (GIFs only)</u>
Determines if the GIF should have a solid first layer background or not.
This only affects the first layer, wheras 'Remove Transparency' affects all.
Recommended for GIFs that have a lot of unexpected random lines or pixels.

<u>Animate (GIFs only)</u>
Plays or pauses the animated gif.

<u>Draw all layers each frame (disposal 1 GIFs only)</u>
Draws all the previous frames of the gif each frame. This means rendering
frame n will require n passes, but will render combine-mode gifs correctly.
<i>Will break with Remove Transparency</i>

<u>Gradient</u>
This makes colors map smoothly between the 3 posterized tones. This greatly
increases the detail of the image but is not "true blurple".

<u>Semicircle</u>
This maps the gradient to a semicircle curve, which makes images "pop"
with a faux-"HDR" effect. No effect when gradient is off.
    </pre>
  </body>
</html>
