<html>
  <head>
    <title>Gradients are not supported</title>
    <link href="/style.css" type="text/css" rel="stylesheet"/>
    <link href="/css/gradientCrazy.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="UniQMG">
    <meta name="twitter:title" content="Not supported">
    <meta name="twitter:image" content="/preview?<%= query %>">
    <meta name="twitter:description" content="(╯OwO)╯︵ sᴉɥʇ s,ʇɐɥʍ? Open in browser.">
    <meta name="twitter:image:alt" content="(best viewed with Netscape Navigator 4.0 or below on a Pentium 3±1 emulated in Javascript on an Apple IIGS at a screen resolution of 1024x1.)">
    <% if (typeof(center) != 'undefined') { %>
      <style>
        body {
          margin: 0;
          overflow: hidden;
        }

        .unsupported-stuff {
          line-height: 100vh;
          margin: 0;
        }
      </style>
    <% } %>
  </head>
  <body>
    <div class="unsupported-stuff">
      <span class="thing">Gradients</span> are
      <span class="not">not supported</span>.<br>
    </div>
  </body>
</html>
