<%
var options = [
  [
    "Temporary","Intermittant","Partial","Redundant","Total","Multiplexed",
    "Inherent","Duplicated","Dual-Homed","Synchronous","Bidirectional","Serial",
    "Asynchronous","Multiple","Replicated","Non-Replicated","Unregistered",
    "Non-Specific","Generic","Migrated","Localised","Resignalled","Dereferenced",
    "Nullified","Aborted","Serious","Minor","Major","Extraneous","Illegal",
    "Insufficient","Viral","Unsupported","Outmoded","Legacy","Permanent",
    "Invalid","Deprecated","Virtual","Unreportable","Undetermined",
    "Undiagnosable","Unfiltered","Static","Dynamic","Delayed","Immediate",
    "Nonfatal","Fatal","Non-Valid","Unvalidated","Non-Static","Unreplicatable",
    "Non-Serious"
  ], [
    "Array","Systems","Hardware","Software","Firmware","Backplane",
    "Logic-Subsystem","Integrity","Subsystem","Memory","Comms","Integrity",
    "Checksum","Protocol","Parity","Bus","Timing","Synchronisation","Topology",
    "Transmission","Reception","Stack","Framing","Code","Programming",
    "Peripheral","Environmental","Loading","Operation","Parameter","Syntax",
    "Initialisation","Execution","Resource","Encryption","Decryption","File",
    "Precondition","Authentication","Paging","Swapfile","Service","Gateway",
    "Request","Proxy","Media","Registry","Configuration","Metadata","Streaming",
    "Retrieval","Installation","Library","Handler"
  ], [
    "Interruption","Destabilisation","Destruction","Desynchronisation","Failure",
    "Dereferencing","Overflow","Underflow","NMI","Interrupt","Corruption",
    "Anomoly","Seizure","Override","Reclock","Rejection","Invalidation","Halt",
    "Exhaustion","Infection","Incompatibility","Timeout","Expiry","Unavailability",
    "Bug","Condition","Crash","Dump","Crashdump","Stackdump","Problem","Lockout"
  ], [
    "Error","Problem","Warning","Signal","Flag"
  ]
];
function randomInArray(arr) {
  return arr[Math.floor((Math.random()*arr.length))];
};
var thing = ""
  + randomInArray(options[0]) + ' '
  + randomInArray(options[1]) + ' '
  + randomInArray(options[2]) + ' '
  + (Math.random() > 0.5 ? randomInArray(options[3]) : "");
%>

<html>
  <head>
    <title>Software is not supported</title>
    <link href="/style.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="UniQMG">
    <meta name="twitter:title" content="Not supported">
    <meta name="twitter:image" content="/preview?<%= query %>">
    <meta name="twitter:description" content="(╯OwO)╯︵ sᴉɥʇ s,ʇɐɥʍ? Open in browser.">
    <meta name="twitter:image:alt" content="(best viewed with Netscape Navigator 4.0 or below on a Pentium 3±1 emulated in Javascript on an Apple IIGS at a screen resolution of 1024x1.)">
  </head>
  <body>
    <div class="unsupported-stuff">
      <span class="thing"><%= thing %></span> is
      <span class="not">not supported</span>.<br>
    </div>
    <a class="bottomlink" href="http://bofh.bjash.com/ExcuseBoard.html">
      Content source.
    </a>
  </body>
</html>
