<div class="december">
  <% if ((new Date()).getMonth() <= 2) { %>
    <canvas id="snow"></canvas>
    <script src="/js/snow.js" defer></script>
  <% } %>
  <img src="/img/snowbg.svg" id="snowbg">
  <style>
    #snow, #snowbg {
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }
    #snow {
      top: 0px;
      left: 0px;
      opacity: 0.5;
    }
    #snowbg {
      filter: brightness(0.8);
      bottom: 0px;
      left: 0px;
      height: 75%;
    }
  </style>
  <% if ((new Date()).getMonth() <= 3) { %>
    <!-- Dark theme -->
    <img src="/img/snowbgdark.svg" id="snowbg">
    <style>
      body {
        background-color: #23272A;
      }
    </style>
  <% } else { %>
    <img src="/img/snowbg.svg" id="snowbg">
  <% } %>
</div>
