<div id="blurplebgholder">
  <img src="/img/blurpleserverlogo-2-11-19.png" id="blurplebg">
  <style>
    #blurplebgholder {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -3;
      display: flex;
    }

    #blurplebg {
        display: inline-block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
  </style>
</div>
